@import 'styles/variable.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  background: $background-primary;
  font-family: $font-family-inter;
}

.card {
  height: 800px;
  width: 340px;
  display: flex;
  flex-direction: column;
  margin: 40px auto;
  background: $background-secondary;
  border-radius: 8px;
  overflow: hidden;

  &__overlay {
    position: relative;
    height: 248px;
    width: 100%;

    &::after {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: block;
      content: '';
      background: $accent;
      opacity: 0.6;
    }
  }

  &__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &__content {
    padding: 36px 32px;
  }

  &__title {
    color: $white;
    font-size: $font-size-large;
    font-weight: $font-weight-bold;
    text-align: center;

    &--highlight {
      color: $accent;
    }
  }

  &__text {
    margin: 20px 0 40px;
    line-height: 24px;
    text-align: center;
    font-family: $font-family-lexend;
    font-size: $font-size-small;
    color: $white-opacity-75;
  }
}

.stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;

  &__counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    color: $white;
    font-size: $font-size-medium;
    font-weight: $font-weight-bold;
  }

  &__name {
    font-size: $font-size-x-small;
    font-weight: $font-weight-base;
    font-family: $font-family-lexend;
    color: $white-opacity-60;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}
